<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MMSR Systems - Simple Video Search</title>
		<meta charset="UTF-8"> 
		<meta name="description" content="A simple video-based search system">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<style>
			body
			{
				width: 90%;
			}
			
			h2
			{
				display: none;
			}
			
			#videoURL
			{
				width: 80%;
			}
			
			#search
			{
				width: 10%;
			}
		</style>
	</head>
	<body>
		<script>
			function i(video_id, yt_id){
				curResults = document.getElementById('searchResults').innerHTML;
				curResults = curResults + '<a href="https://www.youtube.com/watch?v=' + yt_id + '">'+video_id+'</a><br>'
				document.getElementById('searchResults').innerHTML = curResults;
			}
			
			function searchVideos(providedURL){
				let urlParams = new URLSearchParams(window.location.search);
				useForestParam = urlParams.get('useForest');
				$.getJSON('api/videos', {videoURL: providedURL, useForest: useForestParam})
					.done(function( similarVideos) {
						searchResults = ''
						if(useForestParam !== null && useForestParam.toLowerCase() == 'true'){
							searchResults = searchResults + '<h3>Label-based, top 10</h3>Video<br>'
							for (var index = 0; index < similarVideos.length; index++){
								id = similarVideos[index];
								$.ajax({
									dataType: "jsonp",
									url: 'http://data.yt8m.org/2/j/i/'+id[0]+id[1]+'/'+id+'.js'});
							}
						}
						else{
							searchResults = '<h3>Feature-based</h3>Video ID, Distance<br>';
							for (var index = 0; index < similarVideos[0].length; index++){
								searchResults = searchResults + similarVideos[0][index][0] + ", " + similarVideos[0][index][1] + '<br>'
							}
							searchResults = searchResults + '<h3>Label-based</h3>Video ID, Distance<br>'
							for (var index = 0; index < similarVideos[1].length; index++){
								searchResults = searchResults + similarVideos[1][index][0] + ", " + similarVideos[1][index][1] + '<br>'
							}
						}
						document.getElementById('searchResults').innerHTML = searchResults;
						// TODO maybe improve how the videos are shown as this is not for debug purposes
					})
					.fail(function() {
						document.getElementById('searchResults').innerHTML = "Could not retrieve videos similar to the one provided at " + providedURL;
					})
					.always(function() {
						document.getElementById('searchResultsHeader').style.display = 'block';
						
					});
				return false;
			}
		</script>
		<h1>Simple Video Search</h1>
		<form onsubmit="return searchVideos(document.getElementById('videoURL').value);" enctype="application/x-www-form-urlencoded" method="post">
			Please provide a URL to your video 
			(If your video is not accessible through URL, you can upload it <a href="https://cloud.arucard.duckdns.org/index.php/s/nbfeEFzTqFSeAtQ">here</a>)<br>
			You can also provide a <a href="https://www.youtube.com/watch?v=mKz5HMjdnYY">YouTube URL</a>
			<input type="url" id="videoURL" name="videoURL" value="https://cloud.arucard.duckdns.org/index.php/s/nbfeEFzTqFSeAtQ/download?path=%2F&files=Sintel.mkv">
			<input type="submit" id="search" value="Search">
		</form>
		<h2 id="featuresHeader">Features</h2>
		<div id="features">
		</div>
		<h2 id="keywordsHeader">Keywords</h2>
		<div id="keywords">
		</div>
		<h2 id="searchResultsHeader">Search Results</h2>
		<div id="searchResults">
		</div>
	</body>
</html>
